<h2>Edit this Photo</h2>
<p>{{controller.photo}}</p>
<img ng-src="{{controller.photo.url}}" />
<h3>{{controller.photo.title}}</h3>
<p>{{controller.photo.description}}</p>

<hr/>

<form ng-submit="controller.savePhoto()">
  <button ng-click="controller.pickFile()">Upload</button>

  <div class="form-group">
    <label>Title:</label>
    <input ng-model="controller.photo.title" class="form-control" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea ng-model="controller.photo.description" class="form-control" ></textarea>
  </div>
  <button class="btn btn-primary">Update Photo</button>
</form>
